h3{
    color: blueviolet;
}
h2{
    color: darkgoldenrod;
}
#selectorId{
    color: cadetblue;
}

.caja{
    width: 100px;
    height: 100px;
    background-color: rgb(64, 16, 235);
    border-radius: 1rem;
    text-align: center;
    font-size: 2em;
}

.font-fa{
    font-family: "Playwrite BE VLG", cursive;
}

.font-style{
    font-style: italic;
}